.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-1);
  color: white;
  padding: 30px;
  gap: 30px;
  width: 100%;
}

@media (max-width: 768px) { 
  .footer{
    font-size: 12px;
  }
}